.page-header {
    @apply flex flex-wrap items-center justify-between border-b border-gray-200 pb-3 mb-30;
    @screen lg {
        @apply pb-7;
    }

    .breadcrumb {
        @apply flex mt-1 overflow-auto pb-2;

        &__item {
            @apply text-sm flex-none;

            &:first-of-type {
                @apply text-blue-400 hover:text-primary-400;
            }

            &:not(:first-of-type) {
                a {
                    @apply text-primary-400 hover:underline;
                }
            }

            &:not(:last-of-type) {
                &:after {
                    content: '/';
                    @apply mx-1;
                    @screen md {
                        @apply mx-3;
                    }
                }
            }

            &:last-of-type {
                @apply text-gray-400;
            }

        }
    }
}

.laragen-table {
    @apply min-w-full divide-y divide-gray-300;
    thead {
        @apply bg-gray-100;
        th {
            @apply px-3 py-3.5 text-left text-sm font-bold text-blue-400;
            &:first-of-type {
                @apply py-3.5 pl-6 pr-3;
            }
        }
    }
    tbody {
        @apply divide-y divide-gray-200 bg-white;
        td {
            @apply whitespace-nowrap px-3 py-4 text-sm text-gray-400 truncate max-w-prose;
            &:first-of-type {
                @apply py-4 pl-6 pr-3;
            }
        }
    }
}
