.sidebar {
    @apply hidden md:flex md:flex-col md:fixed md:inset-y-0 transition-all duration-300 z-40;

    &__wrapper {
        @apply flex flex-col flex-grow flex-1 border-r border-gray-300 py-5 bg-white max-h-full;

        &-logo {
            @apply flex flex-shrink-0 justify-between;
        }
        &-activator {
            @apply h-6 text-blue-400;
        }

        &-menu {
            @apply flex-1 px-5 pb-4 space-y-1 overflow-y-auto;

            &-item {
                @apply text-blue-400 flex items-center px-2 py-2 text-sm w-full;

                &:hover {
                    @apply bg-gray-100;
                }
                &.active {
                    @apply bg-gray-100;
                }

                &-icon {
                    @apply text-blue-400 h-7 w-7 flex-shrink-0;

                    &-collapse {
                        @apply ml-auto;
                    }
                }

                &-title {
                    @apply ml-5 text-left;
                }
            }

            ul {
                @apply pl-6 py-2;

                .sidebar__wrapper-menu-item-icon {
                    @apply w-1 h-1;
                }
            }
        }
    }

    &.opened {
        @apply md:w-72;

        .sidebar__wrapper {
            &-logo {
                @apply pl-6 pr-6;
            }
            &-activator {
                @apply pl-6 pr-0 pt-3;
            }
        }
    }

    &.closed {
        @apply md:w-24;

        .sidebar__wrapper {
            &-logo {
                @apply px-2 items-center;
            }
            &-activator {
                @apply pl-4;
            }

            &-menu {
                @apply px-0;

                &-item {
                    @apply px-1 justify-center border-l-4 border-gray-100 flex-col;

                    &.active {
                        @apply border-l-primary-400;
                    }

                    &-title {
                        @apply text-xs ml-0 mt-1 text-center;
                    }

                    &-icon {
                        @apply w-5 h-5;
                        &-collapse {
                            @apply hidden;
                        }
                    }
                }

                ul {
                    @apply hidden;
                }
            }
        }
    }
}
